[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=file,screen

[formatters]
keys=simple,complex

[formatter_simple]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatter_complex]
format=%(asctime)s - %(name)s - %(levelname)s - (%(module)s:%(lineno)d) - %(message)s

[handlers]
keys=file,screen

[handler_screen]
class=StreamHandler
formatter=simple
level=INFO
args=(sys.stderr,)

[handler_file]
class=logging.FileHandler
formatter=complex
level=DEBUG
args=('reverse.log',)
